#welcome {
  width: 100px;
  margin: 0 auto;
  text-align: center;
  border-top: 2px red;
}



body {
  background-color: yellow;
}

button {
  color: pink;
  background color: red;
}

#welcome

#welcome p {
  color: orange;
}
